<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<form action="" method="GET">
		username:<input type="text" name="username" value="<%=username%>">
		password:<input type="password" name="password" value="<%=password%>">
		<input type="submit" name="">
	</form>
</body>
</html>